---
name: Pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  preview:
    runs-on: ubuntu-latest
    name: Pulumi Preview
    permissions:
      id-token: write
      contents: read
    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.26.x]
        stack:
          - dev

    steps:
      - uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: "${{ matrix.go-version }}"

      - uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        id: import-secrets
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          path: ${{ secrets.VAULT_PATH }}
          role: ${{ secrets.VAULT_ROLE }}
          exportToken: true
          outputToken: true
          secrets: |
            github-fh-burgenland-bswe-assignment-infrastructure/data/aws region | AWS_REGION ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/aws identity_role_arn | AWS_IDENTITY_ROLE_ARN ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/github token | GH_PAT_TOKEN ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/gitlab token | GITLAB_TOKEN ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor url | HARBOR_URL ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor username | HARBOR_USERNAME ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor password | HARBOR_PASSWORD ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor dex_client_secret | DEX_HARBOR_CLIENT_SECRET

      - uses: pulumi/auth-actions@1c89817aab0c66407723cdef72b05266e7376640 # v1.0.1
        with:
          organization: dmuehlbachler-fh-burgenland
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:dmuehlbachler-fh-burgenland

      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ env.AWS_IDENTITY_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: preview
          stack-name: ${{ matrix.stack }}
          refresh: true
        env:
          GITHUB_TOKEN: "${{ env.GH_PAT_TOKEN }}"
          VAULT_ADDR: "${{ secrets.VAULT_ADDR }}"

  deploy:
    runs-on: ubuntu-latest
    name: Pulumi Deploy
    permissions:
      id-token: write
      contents: read
    needs:
      - preview
    strategy:
      max-parallel: 4
      matrix:
        go-version: [1.26.x]
        stack:
          - dev

    steps:
      - uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: "${{ matrix.go-version }}"

      - uses: hashicorp/vault-action@4c06c5ccf5c0761b6029f56cfb1dcf5565918a3b # v3.4.0
        id: import-secrets
        with:
          method: jwt
          url: ${{ secrets.VAULT_ADDR }}
          path: ${{ secrets.VAULT_PATH }}
          role: ${{ secrets.VAULT_ROLE }}
          exportToken: true
          outputToken: true
          secrets: |
            github-fh-burgenland-bswe-assignment-infrastructure/data/aws region | AWS_REGION ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/aws identity_role_arn | AWS_IDENTITY_ROLE_ARN ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/github token | GH_PAT_TOKEN ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/gitlab token | GITLAB_TOKEN ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor url | HARBOR_URL ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor username | HARBOR_USERNAME ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor password | HARBOR_PASSWORD ;
            github-fh-burgenland-bswe-assignment-infrastructure/data/harbor dex_client_secret | DEX_HARBOR_CLIENT_SECRET

      - uses: pulumi/auth-actions@1c89817aab0c66407723cdef72b05266e7376640 # v1.0.1
        with:
          organization: dmuehlbachler-fh-burgenland
          requested-token-type: urn:pulumi:token-type:access_token:personal
          scope: user:dmuehlbachler-fh-burgenland

      - uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: ${{ env.AWS_IDENTITY_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: up
          stack-name: ${{ matrix.stack }}
        env:
          GITHUB_TOKEN: "${{ env.GH_PAT_TOKEN }}"
          VAULT_ADDR: "${{ secrets.VAULT_ADDR }}"
